version: "3.9"

services:
  backend:
    build:
      context: ../backend
    container_name: assimetria-backend
    ports:
      - "4000:4000"
    env_file:
      - ../backend/.env
    volumes:
      - ../backend/data:/app/data

  frontend:
    build:
      context: ../frontend
      args:
        VITE_API_BASE_URL: "http://localhost:4000"
    container_name: assimetria-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
